# Binaries
ips
sr79-fw
!sr79-fw/
*.exe
main

# Build Artifacts
*.o
*.a

# System Files
.DS_Store
Thumbs.db

# Training Date
/cmd/train/data

# Excluding this for now.
weights.json

# Configurations
config.json

# Log files.
*.log